.main {
    flex: 1;
    /* Takes available space */
    padding: 1rem;
    width: 100%;
    max-width: 1200px;
    /* Or whatever max width design calls for */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}