.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  /* Colors.grey[200] */
  padding: 16px;
}

.card {
  background-color: var(--white);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoContainer {
  margin-bottom: 20px;
  padding: 8px;
}

.logo {
  max-width: 150px;
  height: auto;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--text-color);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputGroup label {
  color: #666;
  font-size: 14px;
}

.input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: var(--primary-color);
}

.button {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.success {
  color: #ffffff;
  background-color: green;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
}

.error {
  color: #ffffff;
  background-color: red;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
}
