.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 6rem;
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.left, .right {
  display: flex;
  align-items: center;
  flex: 1;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}

.backButton {
  background: none;
  border: none;
  font-size: 2rem;
  line-height: 1;
  cursor: pointer;
  color: var(--white);
  padding: 0;
}

.title {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0;
  color: var(--white);
}

.logo {
  height: 12rem;
  width: auto;
}
