.header {
    height: 60px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.menuButton {
    background: none;
    border: none;
    color: var(--white);
    font-size: 24px;
    cursor: pointer;
    padding: 8px;
}

.logoContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 80%;
    /* Fit within header */
}

.logo {
    height: 100%;
    object-fit: contain;
}

.spacer {
    width: 40px;
    /* Balance menu button */
}
.menuIcon{
    display: flex;
    align-items: center;
    justify-content: center;
}