.abrigosSection {
    margin-bottom: 2rem;
}

.headerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.addButton {
    background: none;
    border: 0.1rem solid var(--white);
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
}

.abrigoCard {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(1rem);
    border-radius: 1.5rem;
    margin-bottom: 2rem;
    padding: 2rem;
    color: var(--white);
    border: 0.1rem solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
    font-size: 1.1rem;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 1.5rem;
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
    padding-bottom: 1rem;
    font-size: 1.3rem;
}

.removeBtn {
    background: var(--error-color);
    color: var(--white);
    border: none;
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;
}

.removeBtn:hover {
    background: #ff1744;
}

.cardBody {
    display: contents;
}

.field {
    margin-bottom: 1.6rem;
}

.field label {
    display: block;
    margin-bottom: 0.8rem;
}

.fieldLabel {
    font-size: 1.5rem;
    color: var(--white);
    display: flex;
}

.select {
    width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.3);
    margin-top: 0.8rem;
    background: rgba(0, 0, 0, 0.2);
    color: var(--white);
    font-size: 1.1rem;
    appearance: none;
    cursor: pointer;
}

.select option {
    background: var(--text-color);
    color: var(--white);
    font-size: 1.5rem;
}

.patologiaSwitch {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);
}