.layoutContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
}

.mainContent {
    flex: 1;
    overflow: hidden;
    /* Prevent scroll on body, let pages handle it (like map) */
    position: relative;
}