.container {
    height: 100%;
    width: 100%;
    position: relative;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background: var(--white);
    padding: 2rem;
    border-radius: 0.8rem;
}

.controls {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    z-index: 400;
    /* Leaflet has 400 by default for controls */
}

.fab {
    width: 4rem;
    height: 4rem;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.3);
    border: 0.1rem solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white);
}

.fabRed {
    width: 4rem;
    height: 4rem;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.3);
    background-color: var(--error-color);
    color: var(--white);
    border: 0.1rem solid var(--error-color);
}

.bottomBar {
    position: absolute;
    bottom: 20rem;
    /* Above BottomNav */
    left: 0;
    width: 100%;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    z-index: 400;
    align-items: center;
}

.actionButton {
    width: 100%;
    max-width: 18.75rem;
    padding: 0.9375rem;
    background: linear-gradient(90deg, var(--primary-color), var(--success-color));
    color: var(--white);
    border-radius: 1.875rem;
    font-size: 1.125rem;
    font-weight: bold;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.3);
}

.actionButton:disabled {
    background: var(--disabled-color);
    cursor: not-allowed;
}

.secondaryButton {
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 0.625rem 1.25rem;
    border-radius: 1.25rem;
}

.emojiIcon {
    border: none;
    background: none;
}