.container {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    position: absolute;
    top: 2rem;
    left: 5rem;
    width: 30rem;
    background-color: var(--secondary-color);
    box-shadow: 0 0.2rem 1rem rgba(0,0,0,0.2);
    z-index: 800;
    padding: 1.6rem;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--white);
}

.select {
    padding: 1rem;
    border: 0.1rem solid #ddd;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    width: 100%;
    outline: none;
    transition: border-color 0.3s;
}

.select:focus {
    border-color: var(--primary-color);
}

.mapWrapper {
    flex: 1;
    width: 100%;
    position: relative;
}

/* Estilo para o MapContainer */
.map {
    height: 100%;
    width: 100%;
}

/* Estilização do Popup do Leaflet */
.map :global(.leaflet-popup-content-wrapper),
.map :global(.leaflet-popup-tip) {
    background-color: var(--black);
    color: var(--white);
}

.map :global(.leaflet-popup-content) {
    color: var(--white);
}

.map :global(a.leaflet-popup-close-button) {
    color: var(--white) !important;
}

.backBtn {
    position: fixed;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    z-index: 1000;
    background-color: var(--secondary-color);
    color: var(--white);
    border: none;
    border-radius: 30%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.3);
}

.satelliteBtn {
    position: fixed;
    top: 15rem;
    right: 1rem;
    z-index: 9999;
    background-color: var(--secondary-color);
    color: var(--white);
    border: none;
    border-radius: 30%;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.3);
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--white);
    padding: 2rem;
    border-radius: 1rem;
    z-index: 1000;
}

.iconSuccess {
    color: var(--success-color);
    margin-left: 0.5rem;
    font-size: 2rem;
}

.iconError {
    color: var(--error-color);
    margin-left: 0.5rem;
    font-size: 2rem;
}

.popupTitle {
    font-size: 2rem;
    color: var(--white);
}

.popupContent {
    font-size: 1.5rem;
    padding: 2rem;
}

.popupImage {
    max-width: 100%;
    margin-top: 0.5rem;
    border-radius: 0.4rem;
}

@media (max-width: 768px) {
    .header {
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        top: 1rem;
        padding: 1rem;
        gap: 0.5rem;
    }

    .backBtn {
        top: auto;
        bottom: 4rem;
        left: 1rem;
        transform: translateY(-550%);
        z-index: 9999;
    }
}