.imagePicker {
    margin-top: 1rem;
}

.imageList {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding: 1.5rem;
    padding-bottom: 1rem;
}

.thumb {
    position: relative;
    width: 8rem;
    height: 8rem;
    flex-shrink: 0;
    overflow: visible;
}

.thumbImg {
    border-radius: 0.8rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.removeBtn {
    position: absolute;
    top: -1rem;
    right: -1rem;
    background: var(--error-color);
    color: var(--white);
    border: none;
    border-radius: 50%;
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

.uploadBtn {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    background: var(--primary-color);
    color: var(--white);
    padding: 0.8rem 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.4rem;
}

.uploadText {
    font-size: 1.3rem;
    font-weight: 500;
}