.navContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: transparent;
    z-index: 1000;
}

.navSvg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
}

.navPath {
    transition: d 0.3s ease;
}

.buttonsContainer {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    z-index: 1;
}

.navButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    color: white;
    transition: all 0.3s ease;
    position: relative;
}

.iconWrapper {
    transition: all 0.3s ease;
}

.navButton.active .iconWrapper {
    transform: translateY(-25px); /* Move o ícone para cima */
    color: #ffffff; /* Altera a cor do ícone ativo */
}

.activeButtonBg {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    opacity: 0;
    transition: all 0.3s ease;
}

.navButton.active .activeButtonBg {
    opacity: 1;
    transform: translate(-50%, -90%);
}
