.container {
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}


.backBtn {
    background: none;
    border: none;
    color: var(--white);
    font-size: 3rem;
    margin-right: 1rem;
    cursor: pointer;
    width: 4rem;
    display: flex;
    justify-content: center;
}

.content {
    padding: 2.4rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2rem;
}

section {
    margin-bottom: 2.4rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
    color: var(--text-color);
    font-weight: bold;
}

p {
    line-height: 1.5;
    margin-bottom: 1.2rem;
    color: var(--text-color);
    font-size: 1.6rem;
}

ul {
    padding-left: 2rem;
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
}

li {
    margin-bottom: 0.6rem;
}

.card {
    background: var(--white);
    padding: 1.2rem 1.6rem;
    border-radius: 0.8rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

.logoSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.logo {
    max-width: 15rem;
    opacity: 0.8;
    filter: brightness(0);
}

.headerTitleContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.headerTitle {
    color: var(--white);
    font-weight: 700;
    font-size: 2.2rem;
    pointer-events: auto;
}

.header {
    position: relative;
    padding: 2rem;
}

@media (max-width: 768px) {
    .content {
        padding: 1.6rem;
        overflow: auto;
    }

    h2 {
        font-size: 1.8rem;
    }

    p, ul, .card {
        font-size: 1.4rem;
    }

    .headerTitle {
        font-size: 2rem;
    }

    .logo {
        max-width: 12rem;
    }
}